@model List<StudentWebApp.Models.Student>

<h2>Student List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Roll No</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
                <tr>
                    <td>@student.Sname</td>
                    <td>@student.age</td>
                    <td>@student.Phone</td>
                    <td>@student.Rollno</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@student.Sid">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@student.Sid">Delete</a>
                    </td>
                </tr>
        }
        
    </tbody>
</table>

<a href="@Url.Action("InsertStudent", "Student")" class="btn btn-primary">Insert New Student</a>
